@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(184, 183, 183, 1);
    color: whitesmoke;
  }
  
  header nav img {
    height: 13vh;
    border-radius: 100%;
  }
  